node_modules
dist
main.js
*.min.js
**/*.min.js
*.bundle.js
build
public
coverage
*.lock
.git
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.mp4
*.mp3
*.wasm
obsidian_to_anki_data.json
*.js
**/*.js
*.md
**/*.md
*.markdown
**/*.markdown
*.json
**/*.json
